Code/
Thunar/
clipcat/
dconf/
dlv/
geany/
go/
gtk-3.0/
kitty/
mimeapps.list
mozilla/
mpd/
mpv/
ncmpcpp/
obsidian/
paru/
pulse/
systemd/
tlpui/
user-dirs.dirs
user-dirs.locale
xfce4/
yay/
yazi/
zsh/

# cache
*.swp
*.swo
*~
*.bak
.cache/
<Right># Neovim кэш
nvim/lazy-lock.json
nvim/lazyvim.json
